body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333333;
}

h2{
  font-weight: 500;
  color: #00adb4;
  text-align: center;
}
h5{
  color: #D62C68;
  font-weight: 500;
}
.bgfuchia{
  background-color:  #D62C68;
  color: white;
}
.fuchia{
  color: #D62C68;
  font-weight: 700;
}

.navbar{
  background-color: #00adb4!important;
}
